html,body {
	height:100%;
  background:center no-repeat fixed ;
}

section {
	padding-top:50px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}

.t123{
  padding-top: 10px;
}

.v-center {
    font-size:70px;
}
  
.well {
	border-color:transparent;
}
  
#section1 {
	background-color: #168ccc;
    color:#dedeff;
}
  
#section2 {
	background-color: #d5d5df;
    color:#686868;
}
  
#section3 {
	background-color: #168ccc;
    color:#ddd;
}

#section4 {
	background-color: #fff;
    color:#444;
}

.abc{
  width: 25%;
  margin-top: 25px;
}

.abc1{
  width: 60%;
}